<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from designreset.com/cork/ltr/demo12/table_dt_html5.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 03 May 2021 05:26:52 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Client Table</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico"/>
    <link href="/assets/css/loader.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&amp;display=swap" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/structure.css" rel="stylesheet" type="text/css" class="structure" />
    <!-- END GLOBAL MANDATORY STYLES -->
        
    <!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/custom_dt_html5.css">
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/dt-global_style.css">
    <!-- END PAGE LEVEL CUSTOM STYLES -->
</head>
<body class="sidebar-noneoverflow admin-header">
    
    <!-- BEGIN LOADER -->
    <div id="load_screen"> <div class="loader"> <div class="loader-content">
        <div class="spinner-grow align-self-center"></div>
    </div></div></div>
    <!--  END LOADER -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <%- include("sidebar") %>
        <!--  END SIDEBAR  -->
        
        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                
                <div class="content-container">

                    <div class="col layout-top-spacing">
                        <div class="col-left-content">

                            <div class="header-container">
                                <header class="header navbar navbar-expand-sm">                                    
                                    <div class="d-flex">
                                        <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
                                            <div class="bt-menu-trigger">
                                                <span></span>
                                            </div>
                                        </a>
                                        <div class="page-header">
                                            <div class="page-title">
                                                <h3>Add Client Table</h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="header-actions">

                                        <div class="toggle-notification-bar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                                        </div>
                                    </div>
                                </header>
                            </div>

                            <div class="admin-data-content layout-top-spacing">

                                <div class="row layout-top-spacing" id="cancel-row">
                                    
                                    <div class="container-fluid">
                                        <div class="row layout-top-spacing" id="cancel-row">

                                            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                                <div class="widget-content widget-content-area br-6">
                                                    <table id="html5-extension" class="table table-hover non-hover"
                                                        style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>MW Code</th>
                                                                <th>Marvi Worker Name</th>
                                                                <th>LHV Code</th>
                                                                <th>LHV Name</th>
                                                                <th>Village Name</th>
                                                                <th>UC Name</th>
                                                                <th>Tehsil Name</th>
                                                                <th>District Name</th>
                                                                <th>Registration Name</th>
                                                                <th>CNIC Number</th>
                                                                <th>Contact Number</th>
                                                                <th>Education</th>
                                                                <th>Occupation</th>
                                                                <th>MWRA Age (in years)</th>
                                                                <th>Duration of Marriage (m/y)</th>
                                                                <th>Pregnant at the time of Registration</th>
                                                                <th>No. of Months</th>
                                                                <th>No. of Children Alive</th>
                                                                <th>No. of Abortions</th>
                                                                <th>No. of Children Dead</th>
                                                                <th>Reason of Death</th>
                                                                <th>Youngest child if greater than 5 months</th>
                                                                <th>Age of Children</th>
                                                                <th>Current User of FP</th>
                                                                <th>Method of FP</th>
                                                                <th>Ever User of FP</th>
                                                                <th>Method of FP</th>
                                                                <th>Wants to Become FP User</th>
                                                                <th>Reason</th>
                                                                <th>CR Code</th>
                                                                <th>Client Name</th>
                                                                <th>Husband's Name</th>
                                                                <th>Space b/w Last Birth</th>
                                                                <th>Youngest Child Age</th>
                                                                <th>User Status</th>
                                                                <th>User Type</th>
                                                                <th>New User by Wealth Quantile</th>
                                                                <th>Services</th>
                                                                <th>New User by Occasion</th>
                                                                <th>New User by Disability</th>
                                                                <th>Client Service Date</th>
                                                                <th>Contraceptive Method</th>
                                                                <th>Next Service Date</th>
                                                                <th>Contraceptive Quantity</th>
                                                                <th>Contraceptive Follow Up Frequency</th>
                                                                <th>Edit</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if(listData.length!=0){
                                                                listData.forEach(function(data) { %>
                                                                <tr>
                                                                    <td>
                                                                        <%= data.mw_code %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.marvi_worker_name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.lhv_code %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.lhv_name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.village_name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.uc_name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.tehsil_name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.district_name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.reg_date %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.cnic_num %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.contact_num %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.edu %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.occupation %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.mwra_age %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.marriage_duration %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.pregnant_check %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.no_of_months %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.no_of_children %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.no_of_abortion %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.no_of_dead_child %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.reason_death %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.child_age_5plus %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.age_of_children %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.current_userFP %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.method_of_fp_current %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.ever_userFP %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.method_of_fp_ever %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.become_userFP %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.reason_userFP %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.cr_code %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.client_name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.husband_name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.gap_of_births %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.youngest_child_age %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.user_status %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.user_type %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.user_by_wealth %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.services %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.user_by_occasion %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.user_by_disability %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.client_service_date %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.contra_method %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.next_service_date %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.contra_quantity %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.contra_frequency %>
                                                                    </td>
                                                                    <td>
                                                                        <a href="/update_add_client/<%=data.id %>"><button
                                                                                class="btn btn-success">Edit</button></a>
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-danger delete"
                                                                            onclick="return alert('Are You sure?')"
                                                                            href="delete_add_client/<%=data.id %>">Delete</a>
                                                                    </td>
                                                                </tr>
                                                                <% }) %>
                                                                    <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                
                                </div>
                                
                            </div>
                            <div class="footer-wrapper col-xl-12">
                                <div class="footer-section f-section-1">
                                    <p class="">© 2021 <a target="_blank" href="https://designreset.com/">DesignReset</a></p>
                                </div>
                                <div class="footer-section f-section-2">
                                    <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
                                </div>
                            </div>
                        </div>
                    </div>
                   

                </div>
            </div>
            
        </div>
        <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->
    
    
    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/app.js"></script>
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="/assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
    <script src="/plugins/table/datatable/datatables.js"></script>
    <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
    <script src="/plugins/table/datatable/button-ext/dataTables.buttons.min.js"></script>
    <script src="/plugins/table/datatable/button-ext/jszip.min.js"></script>    
    <script src="/plugins/table/datatable/button-ext/buttons.html5.min.js"></script>
    <script src="/plugins/table/datatable/button-ext/buttons.print.min.js"></script>
    <script>
        $('#html5-extension').DataTable( {
            "dom": "<'dt--top-section'<'row'<'col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-center'B><'col-sm-12 col-md-6 d-flex justify-content-md-end justify-content-center mt-md-0 mt-3'f>>>" +
        "<'table-responsive'tr>" +
        "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
            buttons: {
                buttons: [
                    { extend: 'copy', className: 'btn btn-sm' },
                    { extend: 'csv', className: 'btn btn-sm' },
                    { extend: 'excel', className: 'btn btn-sm' },
                    { extend: 'print', className: 'btn btn-sm' }
                ]
            },
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength":10
        } );
    </script>
    <!-- END PAGE LEVEL CUSTOM SCRIPTS -->
</body>

<!-- Mirrored from designreset.com/cork/ltr/demo12/table_dt_html5.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 03 May 2021 05:26:54 GMT -->
</html>